.wrapper {
	max-width: $wrapper;
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: $container;
	margin: 0 auto;
	padding: 0 2rem;
}

.content {
	min-height: 100vh;
	overflow: hidden;
}

// lib

.MuiDialog-root {
	.MuiTypography-h6 {
		@include textStyle(h2)
	}
	.MuiTypography-body1 {
		@include textStyle(body);
	}
}
