.c-medium-button {
	@include size(100%, auto) display: inline-block;
	padding: 1.3rem 2.8rem;
	color: $primary-color;
	background-color: white;
	border: 2px solid $primary-color;
	border-radius: 1rem;
	text-transform: uppercase;
	cursor: pointer;
	&__text {
		min-width: 10rem;
		text-align: center;
	}
	&--active {
		background-color: $primary-color;
		color: white;
		border: 2px solid white;
	}
}
