.c-title {
	&__maintitle {
		@include font(fontBold, 4.8rem);
		margin-bottom: 1.5rem;
		line-height: 102%;
		text-align: center;
		color: $solid-black-color;
	}

	&__subtitle {
		@include font(fontMedium, 1.8rem);
		text-align: center;
		color: $medium-black-color;
	}
}
