.c-account-msmt-content {
	padding: 3rem;
	&-header {
		@include flex(space-between, flex-start);
		margin-bottom: 5rem;
		&__left {
			@include flex(flex-start, flex-start, column);
		}
		&__title {
			@include font(fontBold, 3.6rem);
			margin-bottom: 2rem;
			color: $solid-black-color;
		}
		&__subtitle {
			@include font(fontBold, 1.4rem);
			color: $solid-gray-color;
		}
		&__ytb-link {
			@include font(fontBold, 1.4rem);
			color: $primary-color;
		}
		&__right {
			@include flex();
			& .c-medium-button__text {
				min-width: auto;
			}
		}
		&__edit {
			margin-right: 1rem;
		}
	}
	&-container {
		&-input {
			@include flex(flex-start, flex-start, row, wrap);
			margin-bottom: 6rem;
			margin-right: -2rem;
			&__item {
				@include size(calc(33.33% - 2rem), auto);
				margin-right: 2rem;
				margin-bottom: 4rem;
			}
		}
		&-standard {
			margin-bottom: 3.6rem;
			&__title {
				@include font(fontBold, 2.4rem);
				color: $solid-black-color;
				margin-bottom: 3rem;
			}
			& .c-menu {
				margin-right: -1.7rem;
				&__item {
					width: calc(16.66% - 1.7rem);
					margin-right: 1.7rem;
				}
			}
		}
		&__tooltip {
			margin-bottom: 5rem;
		}
		&-image {
			margin-bottom: 5rem;
			&__title {
				@include font(fontBold, 2.4rem);
				margin-bottom: 1rem;
				color: $solid-black-color;
			}
			&__subtitle {
				color: $medium-black-color;
				margin-bottom: 3rem;
			}
			&__upload {
				@include flex(space-between, center);
				margin-right: -2rem;
			}
			&__area {
				@include size(calc(33.33% - 2rem), auto);
				padding: 2.5rem;
				margin-right: 2rem;
				background: white;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
				border-radius: 20px;
			}
			&__container {
				@include flex(center, center, column);
				@include size(100%, 25rem);
				// padding: 6.3rem 4.25rem 6rem;
				padding: 0 4.25rem;
				border: 2px dashed $medium-gray-color;
				border-radius: 20px;
			}
			&__icon {
				@include size(4.6rem);
				margin-bottom: 2.45rem;
			}
			&__desc {
				@include font(fontBold, 1.4rem);
				color: $solid-black-color;
				text-align: center;
			}
			&__browse {
				color: $primary-color;
			}
			&__support {
				@include font(fontSemiBold, 1.1rem);
				color: $solid-gray-color;
			}
		}
	}
}
