.c-tailor-offer {
	@include flex(flex-start, flex-start, column);
	&.--no-offer {
		width: 100%;
	}
	&__annouce {
		@include size(100%);
		@include textStyle(h4);
		padding: 5rem 8rem;
		border-radius: 20px;
		border: 2px dashed $primary-color;
		text-align: center;
		background: $subprimary-color;
		color: $primary-color;
		& > strong {
			font-weight: bold;
		}
	}
	&__item {
		@include flex(space-between, center);
		@include size(100%, auto);
		padding: 1.5rem 2rem;
	}
	&__index {
		@include flex(center, center);
		@include size(2.4rem);
		@include font(fontBold, 1.1rem);
		border-radius: 10px;
		background-color: $solid-gray-color;
		color: $light-black-color;
		&--active {
			background-color: $primary-color;
			color: white;
		}
	}
	&__avatar {
		@include size(5rem);
		border-radius: 50%;
		background-color: $solid-gray-color;
	}
	&-tailor {
		@include flex(center, flex-start, column);
		@include size(11.4rem, auto);
		&__name {
			@include font(fontSemiBold, 1.6rem);
			color: $solid-black-color;
			margin-bottom: 0.2rem;
		}
	}
	&-estimate {
		@include flex(center, center);
		@include size(19rem, auto);
		@include font(fontSemiBold, 1.4rem);
		color: $secondary-color;
		&__title {
			margin-right: 1rem;
		}
		&__value {
			padding: 0.5rem;
			background: #d5f2ea;
			border-radius: 4px;
		}
	}
	&__price {
		@include size(12.5rem, auto);
		@include font(fontSemiBold, 1.8rem);
		color: $medium-black-color;
	}
	&__button {
		@include size(19.7rem, auto);
		& > div {
			text-transform: capitalize;
		}
	}

	@include xs {
		width: 100%;
		@include flex(flex-start, flex-start, row, wrap);
		overflow: hidden;
		margin-right: -0.5rem;
		margin-bottom: -0.5rem;
		padding: 1rem;
		&__annouce {
			padding: 1rem 4rem;
			border-radius: 20px;
			border: 2px dashed $primary-color;
			text-align: center;
		}
		&__item {
			@include size(calc(50% - 0.5rem), auto);
			@include flex(space-between, center, column);
			border-radius: 20px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
			padding: 1rem;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}
		&__index {
			display: none;
		}
		&-tailor {
			@include flex(center, center, column);
			@include size(100%, auto);
			margin-bottom: 1rem;
			&__name {
				@include size(100%, auto);
				text-align: center;
			}
			& > .c-star {
				width: 100%;
				@include flex(center, center);
				margin-right: -0.6rem;
			}
		}
		&-estimate {
			@include flex(center, center);
			@include size(100%, auto);
			@include font(fontSemiBold, 1.4rem);
			color: $secondary-color;
			margin-bottom: 1rem;
			&__title {
				margin-right: 1rem;
			}
			&__value {
				padding: 0.5rem;
				background: #d5f2ea;
				border-radius: 4px;
			}
		}
		&__price {
			@include size(100%, auto);
			@include font(fontSemiBold, 1.8rem);
			color: $medium-black-color;
			text-align: center;
			margin-bottom: 1rem;
		}
		&__button {
			@include size(100%, auto);
			& > div {
				text-transform: capitalize;
			}
		}
	}
}
