.c-order-detail {
	padding: 3rem;
	margin-bottom: 5.4rem;
	&__header {
		@include flex(flex-start, center);
		margin-bottom: 6.5rem;
	}
	&__title {
		@include font(fontBold, 3.6rem);
		margin-left: 2.7rem;
	}
	&__offer {
		margin-bottom: 5.5rem;
	}
	&-summary {
		margin-bottom: 1.5rem;
		&__rqmt {
			margin: 2.4rem 0;
			& > .c-rqmt-sum {
				padding: 0;
			}
		}
		&__msmt {
			margin-bottom: 3.65rem;
		}
		&__note {
			&-title {
				@include textStyle(h3);
				margin-bottom: 2.4rem;
				color: $medium-black-color;
			}
		}
	}
	&-shipping-info {
		margin-bottom: 5rem;
		&__form {
			padding: 2.4rem 0 3.2rem;
		}
	}
	&__button {
		@include flex(center, center);
		& > div {
			width: fit-content;
			text-transform: capitalize;
		}
	}
}
