.c-fabric-materials {
	@include size(100%, auto);
	&__title {
		margin: 3rem 0 4rem;
		// padding: 0 20.8rem;
	}
	&__list {
		@include flex(space-between, center, row, wrap);
		margin-right: -2rem;
		margin-bottom: -2rem;
		margin-bottom: 3rem;
	}
	&__item {
		@include size(calc(33.33% - 2rem), auto);
		min-height: 32.7rem;
		margin-right: 2rem;
		margin-bottom: 2rem;
		background-color: $solid-gray-color;
		border-radius: 20px;
	}
	&__tooltip {
		margin-bottom: 11rem;
	}
}
