.c-fabric-pattern {
	@include flex(flex-start, center, column);
	margin-bottom: 10rem;
	&__title {
		margin-bottom: 4rem;
	}
	&-collection {
		@include flex(center, center);
		margin-bottom: 4rem;
		& > div:not(:last-child) {
			margin-right: 1.6rem;
		}
	}
	&__list {
		display: block;
		width: 84.5rem;
	}
	&__item {
		height: 0;
		padding-bottom: calc(100% - 4px);

		background-color: transparent;
		border-radius: 20px;
		cursor: pointer;
		overflow: hidden;
		position: relative;

		outline: none;
		border: 4px solid transparent;
		@include transition(0.3s $cubic);
		& img {
			@include midImg;
			border-radius: 20px;
			outline: none;
			transform-origin: 0 0;
			@include transform(scale(1.1) translate(-50%, -50%));
			@include transition(0.3s $cubic);
			&:hover {
				transform-origin: 0 0;
				@include transform(scale(1.3) translate(-50%, -50%));
				@include transition(0.3s $cubic);
			}
		}
		&.--selected {
			border: 4px solid $primary-color;
			@include transition(0.3s $cubic);
		}
		&.--no-image {
			background-color: $solid-gray-color;
		}
	}
	& .c-slider {
		margin-bottom: 10rem;
		& .swiper-wrapper {
			min-height: 30rem;
			& .swiper-slide {
				overflow: hidden;
				border-radius: 20px;
			}
		}
	}
}
