.c-fabric-type-gallery {
	&__list {
		@include flex(space-between, center, row, wrap);
		margin-right: -1.6rem;
		margin-bottom: -1.6rem;
	}
	&__item {
		@include size(calc(33.33% - 1.6rem), auto);
		margin-right: 1.6rem;
		margin-bottom: 1.6rem;

		position: relative;
		padding-bottom: calc(33.33% - 1.6rem);
		height: 0;

		background-color: $solid-gray-color;
		border-radius: 20px;
		cursor: pointer;
		& > img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include size(100%);
		}
	}
}
