.c-fabric-type {
	@include flex(center, center, column);
	@include size(100%, auto);
	margin-bottom: 6.1rem;
	&__title {
		@include flex(center, center);
		width: 100%;
		margin: 3.2rem 0 4.8rem;
	}
	&__wrapper {
		@include size(100%, auto);
		// @include flex(center, flex-start);
		@include flex(center, flex-start, column);
	}
	&__gallery {
		@include size(100%, fit-content);
		// margin-right: 1.6rem;
	}
	&__tooltip {
		@include size(100%);
		& .c-tooltip {
			height: 100%;
		}
	}

	@include xs {
		&__title {
			@include flex(center, center);
			width: 100%;
			margin: 2rem 0 2rem;
		}
		&__wrapper {
			@include size(100%, auto);
			
		}
		&__gallery {
			@include size(100%, fit-content);
			// margin-right: 1.6rem;
		}
	}
}
