$wrapper: 1280px;
$container: 1060px;
$primary-color: #f68729;
$subprimary-color: #ffebd8;
$secondary-color: #00c48c;
$subsecondary-color: #d5f2ea;
$third-color: #fda270;
$subthird-color: #ffe8db;
$third-color: #ffcf5c;
$solid-black-color: #05051d;
$medium-black-color: #4f4f4f;
$light-black-color: #828282;
$solid-gray-color: #bdbdbd;
$medium-gray-color: #e0e0e0;
$light-gray-color: #f2f2f2;
$main-bg-color: #fbfbfb;
