.c-rqmt-design-upload {
	@include size(84.7rem, auto);
	margin: 0 auto 4.8rem;
	& > p {
		@include textStyle(body);
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	
	@include xs {
		@include size(100%, auto);
	}
}
