.c-tooltip {
	padding: 2rem;
	background-color: white;
	color: $medium-black-color;
	border: 1px solid $medium-gray-color;
	border-radius: 10px;
	margin-bottom: -1.5rem;
	&__title {
		@include textStyle(h4);
		margin-bottom: 1.8rem;
		text-transform: uppercase;
	}
	&__content {
		@include textStyle(caption);
		font-size: 1.4rem;
	}
	&__label {
		@include textStyle(h4);
		font-size: 1.6rem;
		color: $solid-black-color;
	}
	&__item {
		margin-bottom: 2rem;
	}
}
